<nz-layout>
  <nz-sider nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="64">
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item [nzMatchRouter]="true">
        <a routerLink="/admin/home" routerLinkActive="active"
          ><span nz-icon nzType="user"></span><span>My Notes</span></a
        >
      </li>
      <li nz-menu-item [nzMatchRouter]="true">
        <a routerLink="/admin/shared-with-me" routerLinkActive="active">
          <span nz-icon nzType="usergroup-add" nzTheme="outline"></span>
          <span>Shared with me</span>
        </a>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-content>
      <div class="form-container" *ngIf="isHomePage">
        <nz-card>
          <app-note-form></app-note-form>
        </nz-card>
      </div>
      <div class="notes-container">
        <app-notes-container></app-notes-container>
      </div> </nz-content
  ></nz-layout>
</nz-layout>
