<form
  nz-form
  nzLayout="vertical"
  [formGroup]="noteForm"
  (ngSubmit)="onSubmit()"
>
  <nz-form-item [class]="{ expand: expand }">
    <nz-form-control>
      <nz-input-group>
        <input
          nz-input
          formControlName="title"
          type="text"
          (focus)="expand = true"
          [placeholder]="expand ? 'Title' : 'Take a note...'"
          [(ngModel)]="isEdit ? editData.title : noteForm.value.title"
          class="title"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="isEdit || expand">
    <nz-form-control nzHasFeedback nzErrorTip="">
      <nz-textarea-count>
        <textarea
          formControlName="content"
          nz-input
          placeholder="Take a note..."
          [nzAutosize]="{ minRows: 1, maxRows: 6 }"
          [(ngModel)]="isEdit ? editData.content : noteForm.value.content"
        ></textarea>
      </nz-textarea-count>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="isEdit || expand" class="close-btn">
    <nz-form-control>
      <div class="form-control-actions">
        <app-note-actions
          [data]="noteForm.value"
          class="actions-bar"
          (onDelete)="handleDelete()"
          (onTogglePin)="togglePin($event)"
          [hideDeleteBtn]="!isOwner"
          [hideTogglePinBtn]="!isOwner"
        ></app-note-actions>
        <button nz-button nzType="primary">
          {{ isEdit ? "Save" : "Close" }}
        </button>
      </div>
      <div class="note-members-container">
        <div *ngFor="let user of members" class="note-member">
          <span nz-icon nzType="user" nzTheme="outline"></span>
          <p nz-typography>{{ user.user.email }}</p>
          <button
            nz-button
            nzShape="circle"
            class="delete-btn"
            (click)="removeMember($event, user.id)"
          >
            <span nz-icon nzType="close" nzTheme="outline"></span>
          </button>
        </div>
        <div class="note-member">
          <span nz-icon nzType="user-add" nzTheme="outline"></span>
          <div>
            <input
              type="text"
              nz-input
              placeholder="Enter email to share note"
              [(ngModel)]="email"
              [ngModelOptions]="{ standalone: true }"
            />
            <p *ngIf="addMemberError" class="error-message">
              {{ addMemberError }}
            </p>
          </div>

          <button
            nz-button
            nzShape="circle"
            class="add-member-btn"
            (click)="addMember($event)"
          >
            <span nz-icon nzType="check" nzTheme="outline"></span>
          </button>
        </div>
      </div>
    </nz-form-control>
  </nz-form-item>
</form>
