<h5
  nz-typography
  *ngIf="isHomePage && (notesList | callback : filterPinNotes).length > 0"
>
  PINNED
</h5>
<div nz-row [nzGutter]="[16, 16]" class="pin-notes-container">
  <div
    nz-col
    class="gutter-row"
    [nzSpan]="6"
    *ngFor="let note of notesList | callback : filterPinNotes"
  >
    <app-note-card
      [data]="note"
      (deleteNoteEvent)="handleDeleteNote()"
      [isOwner]="isHomePage"
    ></app-note-card>
  </div>
</div>

<h5
  nz-typography
  *ngIf="isHomePage && (notesList | callback : filterUnPinNotes).length > 0"
>
  OTHERS
</h5>
<div nz-row [nzGutter]="[16, 16]" *ngIf="isHomePage">
  <div
    nz-col
    class="gutter-row"
    [nzSpan]="6"
    *ngFor="let note of notesList | callback : filterUnPinNotes"
  >
    <app-note-card
      [data]="note"
      (deleteNoteEvent)="handleDeleteNote()"
    ></app-note-card>
  </div>
</div>
