::ng-deep .note-card-container .ant-card-body {
  padding: 12px;
}

nz-card {
  border-radius: 6px;
  border: 1px solid #cccccc88;
}

app-note-actions.note-actions {
  opacity: 0;
  transition: opacity 0.15s ease-in-out;
}

nz-card:hover app-note-actions.note-actions {
  opacity: 1;
}

.high-light-text {
  background-color: yellow;
}
