<nz-card (click)="showModal()" class="note-card-container">
  <div>
    <div class="card-title">
      <h3 *ngIf="!data.title.includes(queryString); else hightLightTitle">
        {{ data.title }}
      </h3>
      <button
        nz-button
        nzShape="circle"
        class="toggle-pin-btn"
        (click)="handleTogglePin($event)"
      >
        <span
          nz-icon
          nzType="pushpin"
          [nzTheme]="data.isPin ? 'fill' : 'outline'"
        ></span>
      </button>
    </div>
    <ng-template #hightLightTitle
      ><h3>
        <span>{{
          data.title | slice : 0 : data.title.indexOf(queryString)
        }}</span
        ><span class="high-light-text">{{ queryString }}</span
        ><span>{{
          data.title
            | slice : data.title.indexOf(queryString) + queryString.length
        }}</span>
      </h3></ng-template
    >

    <p *ngIf="!data.content.includes(queryString); else hightLightContent">
      {{ data.content }}
    </p>
    <ng-template #hightLightContent
      ><p>
        <span>{{
          data.content | slice : 0 : data.content.indexOf(queryString)
        }}</span
        ><span class="high-light-text">{{ queryString }}</span
        ><span>{{
          data.content
            | slice : data.content.indexOf(queryString) + queryString.length
        }}</span>
      </p></ng-template
    >

    <button
      nz-button
      nzShape="circle"
      class="delete-btn"
      (click)="handleDeleteNote($event)"
    >
      <span nz-icon nzType="delete" nzTheme="outline"></span>
    </button>
  </div>
</nz-card>

<nz-modal
  [(nzVisible)]="isVisible"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzFooter]="null"
  [nzCancelDisabled]="false"
>
  <ng-container *nzModalContent>
    <app-note-form
      [isEdit]="true"
      [data]="data"
      (updateItemEvent)="handleOk()"
    ></app-note-form>
  </ng-container>
  <!-- <ng-template #closeButton>
    <span
      nz-icon
      nzType="pushpin"
      [nzTheme]="data.isPin ? 'fill' : 'outline'"
    ></span
  ></ng-template> -->
</nz-modal>
