::ng-deep .note-card-container .ant-card-body {
  padding: 12px;
}

nz-card {
  border-radius: 6px;
  border: 1px solid #cccccc88;
}

.card-title {
  display: flex;

  & h3 {
    flex: 1;
  }
}

.delete-btn,
.toggle-pin-btn {
  opacity: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: opacity 0.15s ease-in-out;
}

nz-card:hover .delete-btn,
nz-card:hover .toggle-pin-btn {
  opacity: 1;
}
.delete-btn [nz-icon] {
  font-size: 18px;
  color: red;
}

.toggle-pin-btn [nz-icon],
[nzType="pushpin"] {
  font-size: 18px;
  color: blue;
}

.high-light-text {
  background-color: yellow;
}
