<nz-card (click)="showModal()" class="note-card-container">
  <div>
    <h3 *ngIf="!data.title.includes(queryString); else hightLightTitle">
      {{ data.title }}
    </h3>
    <ng-template #hightLightTitle
      ><h3>
        <span>{{
          data.title | slice : 0 : data.title.indexOf(queryString)
        }}</span
        ><span class="high-light-text">{{ queryString }}</span
        ><span>{{
          data.title
            | slice : data.title.indexOf(queryString) + queryString.length
        }}</span>
      </h3></ng-template
    >

    <p *ngIf="!data.content.includes(queryString); else hightLightContent">
      {{ data.content }}
    </p>
    <ng-template #hightLightContent
      ><p>
        <span>{{
          data.content | slice : 0 : data.content.indexOf(queryString)
        }}</span
        ><span class="high-light-text">{{ queryString }}</span
        ><span>{{
          data.content
            | slice : data.content.indexOf(queryString) + queryString.length
        }}</span>
      </p></ng-template
    >

    <app-note-actions
      [data]="data"
      (onDelete)="handleDeleteNote()"
      (onTogglePin)="handleTogglePin()"
      [hideDeleteBtn]="!isOwner"
      [hideTogglePinBtn]="!isOwner"
      class="note-actions"
    ></app-note-actions>
  </div>
</nz-card>

<nz-modal
  [(nzVisible)]="isVisible"
  (nzOnCancel)="closeModal()"
  [nzFooter]="null"
>
  <ng-container *nzModalContent>
    <app-note-form
      [isEdit]="true"
      [data]="data"
      (updateItemEvent)="closeModal()"
      [isOwner]="isOwner"
    ></app-note-form>
  </ng-container>
</nz-modal>
